{% extends "DarkbluesunGoldfishBundle::base.html.twig" %}
{% block body %}
<div ng-view></div>
{% endblock %}
{% block stylesheets %}
{{parent()}}
{% javascripts filter='?uglifyjs2' output='assets/top.js' '@vendor_js_top' '@goldfish_angular_js' %}
  <script type="text/javascript" src="{{asset_url}}"></script>
{% endjavascripts %}
<style>
.done-true { text-decoration: line-through; color: #ccc; }
</style>
{% endblock %}