{% extends "FOSUserBundle::layout.html.twig" %}
{% form_theme form 'DarkbluesunGoldfishBundle:Form:bootstrap_3_layout.html.twig' %}

{% block fos_user_content %}
<div class="row">
<div class="col-md-8 col-md-offset-2">
<h1>Edit my Profile</h1>
{% include "FOSUserBundle:Profile:edit_content.html.twig" %}
</div>
</div>
{% endblock fos_user_content %}
