{% extends 'DarkbluesunGoldfishBundle::base.html.twig' %}

{% block body -%}
<div class="row">
	<div class='col-md-4'>
		<div class="page-header"><h2>Conversation</h2></div>
		{{render_hinclude(controller('DarkbluesunGoldfishBundle:Project:comments',{'id':entity.id,'limit':3}),{'id':'comments-panel'})}}
	</div>
	<div class="col-md-4">
		<div class="page-header"><h1>Project</h1></div>
		{{ form(edit_form,{'attr':{'class':'edit table table-striped'}}) }}

		<a class="popup btn btn-danger delete" href="{{path('project_delete_confirm',{'id':entity.id})}}">Delete</a>

	</div>
	<div class="col-md-4">
		<div class="page-header"><h2>Tasks</h2></div>
		{{render_hinclude(controller('DarkbluesunGoldfishBundle:Project:tasks',{'id':entity.id,'limit':3}),{'id':'tasks-panel'})}}
	</div>
</div>
{% endblock %}
