{% extends 'DarkbluesunGoldfishBundle::base.html.twig' %}

{% block body -%}
	<div class="page-header">
	    <h1>Project creation</h1>
    </div>

    {{ form(form,{'attr':{'class':'table table-striped'}}) }}

{% endblock %}
