{% extends 'DarkbluesunGoldfishBundle::base.html.twig' %}

{% block body -%}
<div class="row">
<div class="col-md-4">
<div class="page-header">
    <h1>Project creation</h1>
    </div>

    {{ form(edit_form,{'attr':{'class':'table table-striped'}}) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('project') }}">
            Back to the list
        </a>
    </li>
</ul>
</div>
</div>
{% endblock %}
