    <table class="records_list table table striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Due</th>
            </tr>
        </thead>
        <tbody>
        {% for task in tasks %}
            <tr>
                <td><a class='edit' href="{{ path('tasks_edit', { 'id': task.id }) }}">{{ task.id }}</a></td>
                <td>{{ task.name }}</td>
                <td>{% if task.due %}{{ task.due|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>