{% extends 'DarkbluesunGoldfishBundle::base.html.twig' %}

{% block body -%}
<div class='row'>
<div class='col-md-4'>
<div class="page-header">
    <h2>Activity</h2>
    </div>
{{render_hinclude(controller('DarkbluesunGoldfishBundle:Task:comments',{'id':entity.id,'limit':3}))}}
</div>
<div class="col-md-4">
<div class="page-header"><h1>Task</h1></div>

    {{ form(edit_form,{'attr':{'class':'table table-striped edit'}}) }}

    {{ form(delete_form) }}
</div>
</div>
{% endblock %}
