{% extends 'DarkbluesunGoldfishBundle::base.html.twig' %}

{% block body -%}
    <h1>Task edit</h1>

    {{ form(edit_form,{'attr':{'class':'table table-striped edit'}}) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('tasks') }}">
            Back to the list
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
