{% extends 'DarkbluesunGoldfishBundle::base.html.twig' %}

{% block body -%}
    <h1>Task list</h1>

    {% include "DarkbluesunGoldfishBundle:Task:list.html.twig" %}

        <ul>
        <li>
            <a href="{{ path('tasks_new') }}" class="new">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
