    <table class="records_list table table striped" id="tasks" data-ajax="{{path('tasks_list')}}">
        <thead>
            <tr>
                <th>Id</th>
                <th>Client</th>
                <th>Project</th>
                <th>Name</th>
                <th>Due</th>
            </tr>
        </thead>
    </table>