{% extends 'DarkbluesunGoldfishBundle::base.html.twig' %}

{% block body -%}
    <h1>Task creation</h1>

    {{ form(form,{'attr':{'class':'new table table-striped'}}) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('tasks') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
