<div class="container-fluid">
	<div class="row">
		<div class="col-md-10 col-md-offset-1">
			<h1>Projects</h1>
			<table class="table table-striped">
				<thead>
					<tr>
						<td colspan="10">
							<div class="row">
								<div class="col-md-6">
									<label for="query">Search:&nbsp;</label><input type="text" ng-model="query" id="query">
								</div>
								<div class='col-md-6' style="text-align:right;">
									<label for="orderProp">Order:&nbsp;</label>
									<select ng-model="orderProp" id="orderProp">
										<option value="client.name">Client</option>
										<option value="name">Project</option>
										<option value="due.timestamp">Due</option>
										<option value="budget">Budget</option>
									</select>
								</div>
							</div>
						</td>
					</tr>
					<tr>
						<th>Client</th>
						<th>Project</th>
						<th>Due</th>
						<th>Budget</th>
					</tr>
				</thead>
				<tbody>
					<tr class="done-{{project.done}}" ng-repeat="project in projects | filter:query | orderBy:orderProp">
						<td><a href="#/clients/{{project.client.id}}">{{project.client.name}}</td>
						<td><a href="#/projects/{{project.id}}">{{project.name}}</a></td>
						<td>{{project.due.string}}</td>
						<td>${{project.budget}}</td>
					</tr>
				</tbody>
			</table>
		</div>
    </div>
  </div>
</div>