<div class="container-fluid">
	<div class="row">
		<div class="col-md-10 col-md-offset-1">
			<h1>Clients</h1>
			<table class="table table-striped" data-st-table="clientsTable" data-st-safe-src="clients">
				<thead>
					<tr>
						<th data-st-sort="company_name">Company</th>
						<th data-st-sort="email">Contact</th>
						<th data-st-sort="phone">Phone</th>
						<th data-st-sort="email">Email</th>
						<th data-st-sort="address">Address</th>
						<th></th>
					</tr>
					<tr>
						<th colspan="5">
							<input data-st-search="" placeholder="search..." class="form-control">
						</th>
					</tr>
				</thead>
				<tbody>
					<tr class="done-{{project.done}}" data-ng-repeat="client in clientsTable">
						<td><a data-e-required data-editable-text="client.company_name" data-e-form="rowform" href="#/clients/{{client.id}}">{{client.company_name}}</a></td>
						<td><span data-e-required data-editable-text="client.contact_name" data-e-form="rowform" data-e-name="contact_name">{{client.contact_name}}</span></td>
						<td><a data-e-required data-editable-text="client.phone" data-e-form="rowform" href="tel:{{client.phone}}">{{client.phone}}</a></td>
						<td><a data-e-required data-editable-email="client.email" data-e-form="rowform" href="mailto:{{client.email}}">{{client.email}}</a></td>
						<td><span data-editable-textarea="client.address" data-e-form="rowform">{{client.address}}</span></td>
						<td style="white-space: nowrap">
						<div class="btn-group" role="group">
				        <!-- form -->
				        <form data-editable-form name="rowform" data-onaftersave="saveClient(client)" data-ng-show="rowform.$visible"
							  class="form-buttons form-inline" data-shown="inserted == client">
				          <button type="submit" data-ng-disabled="rowform.$waiting" class="btn btn-primary">
				            <i class="fa fa-save"></i>
				          </button>
				          <button type="button" data-ng-disabled="rowform.$waiting" data-ng-click="rowform.$cancel()" class="btn btn-default">
				            <i class="fa fa-close"></i>
				          </button>
				        </form>
							<button data-ng-show="!rowform.$visible" class="btn btn-sm btn-default" data-ng-click="rowform.$show()"><i class="fa fa-edit"> </i></button>
							</div>
						</td>
					</tr>
				</tbody>
				<tfoot>
					<tr data-ng-show="clients.length > 10">
						<td colspan="3" class="text-center">
							<div st-pagination="" data-st-items-by-page="itemsByPage" data-st-displayed-pages="7"></div>
						</td>
						<td colspan="2" class="text-center">
							<label><input type="radio" data-ng-model="itemsByPage" value="10"> 10</label>
							<label><input type="radio" data-ng-model="itemsByPage" value="25"> 25</label>
							<label><input type="radio" data-ng-model="itemsByPage" value="50"> 50</label>
						</td>
					</tr>
					<tr>
						<td><a data-ng-click="addClient()" class="btn btn-sm btn-primary"><i class="fa fa-plus"> </i> New</a></td>
					</tr>
				</tfoot>
			</table>
		</div>
    </div>
  </div>
</div>