{% extends 'DarkbluesunGoldfishBundle::base.html.twig' %}

{% block body -%}
    <h2>Client creation</h2>

    {{ form(edit_form,{'attr':{'class':'table table-striped'}}) }}

    <br/>

{% endblock %}
