{% extends 'DarkbluesunGoldfishBundle::base.html.twig' %}

{% block body -%}
    <h1>Client creation</h1>

    {{ form(edit_form,{'attr':{'class':'table table-striped'}}) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('clients') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
