<div class="container-fluid">
	<div class="row">
		<div class="col-md-10 col-md-offset-1" ng-model="task">
			<form name="taskForm" editable-form onaftersave="saveTask()">
			<h1 e-form="taskForm" editable-text="task.name">{{task.name}}</h1>
			<table>
			<tr><th>Due:</th><td><span editable-text="task.dueDate" e-form="taskForm">{{task.dueDate}}</span></td></tr>
			<tr><th>Time:</th><td><span editable-number="task.time" step="0.25" e-form="taskForm">{{task.time}}</span></td></tr>
			<tr><th>Client:</th><td><a e-form="taskForm" onshow="loadClients()" editable-select="task.client" e-ng-options="client as client.companyName for client in clients track by client.id" href="#/clients/{{task.client.id}}">{{task.client.companyName}}</span></td></tr>
			<tr><th>Project:</th><td><a e-form="taskForm" onshow="loadProjects()" editable-select="task.project" e-ng-options="project as project.name for project in projects track by project.id" href="#/projects/{{task.project.id}}">{{task.project.name}}</span></td></tr>
			<tr><th>Assignee:</th><td><a e-form="taskForm" onshow="loadUsers()" editable-select="task.assignee" e-ng-options="user as user.firstName for user in users track by user.id" href="#/users/{{task.assignee.id}}">{{task.assignee.firstName}}</span></td></tr>
			<tr><th>Description:</th><td><span editable-textarea="task.description" e-form="taskForm">{{task.description}}</span></td></tr>
			</table>
			<div class="btn-group" role="group">
			  <button type="submit" ng-show="taskForm.$visible" ng-disabled="taskForm.$waiting" class="btn btn-primary">
	            <i class="fa fa-save"></i> Save
	          </button>
	          <button type="button" ng-show="taskForm.$visible" ng-disabled="taskForm.$waiting" ng-click="taskForm.$cancel()" class="btn btn-default">
	            <i class="fa fa-close"></i> Cancel
	          </button>
	          </div>
			</form>
				<button ng-show="!taskForm.$visible" class="btn btn-default" data-ng-click="taskForm.$show()"><i class="fa fa-edit"> </i> Edit</button>
			</div>
		</div>
	</div>
</div>