<div class="container-fluid">
	<div class="row">
		<div class="col-md-10 col-md-offset-1">
			<h1>Tasks</h1>
			<table class="table table-striped">
				<thead>
					<tr>
						<td colspan="10">
							<div class="row">
								<div class="col-md-6">
									<label for="query">Search:&nbsp;</label><input type="text" ng-model="query" id="query">
								</div>
								<div class='col-md-6' style="text-align:right;">
									<label for="orderProp">Order:&nbsp;</label>
									<select ng-model="orderProp" id="orderProp">
										<option value="status">Status</option>
										<option value="client.name">Client</option>
										<option value="project.name">Project</option>
										<option value="name">Task</option>
										<option value="due.timestamp">Due</option>
										<option value="assignee.name">Assignee</option>
									</select>
								</div>
							</div>
						</td>
					</tr>
					<tr>
						<th>Status</th>
						<th>Client</th>
						<th>Project</th>
						<th>Task</th>
						<th>Due</th>
						<th>Assignee</th>
					</tr>
				</thead>
				<tbody>
					<tr class="done-{{task.done}}" ng-repeat="task in tasks | filter:query | orderBy:orderProp">
						<td><input type="checkbox" ng-model="task.done" ng-click="saveTask(task)"></td>
						<td ng-if="!task.editing"><a href="#/clients/{{task.client.id}}">{{task.client.companyName}}</a></td>
						<td ng-if="task.editing"><select ng-model="task.client" ng-options="client as client.companyName for client in clients track by client.id"><option></option></select></td>
						<td ng-if="!task.editing"><a href="#/projects/{{task.project.id}}">{{task.project.name}}</a></td>
						<td ng-if="task.editing"><select ng-model="task.project" ng-options="project as project.name for project in projects track by project.id"><option></option></select></td>
						<td ng-if="!task.editing"><a href="#/tasks/{{task.id}}">{{task.name}}</a></td>
						<td ng-if="task.editing"><input type="text" ng-model="task.name"></td>
						<td ng-if="!task.editing">{{task.due}}</td>
						<td ng-if="task.editing"><input type="date" ng-model="task.due"></td>
						<td ng-if="!task.editing">{{task.assignee.firstName}}</td>
						<td ng-if="task.editing"><select ng-options="user as user.firstName for user in users track by user.id" ng-model="task.assignee"><option></option></select></td>
						<td class="btn-group" role="group">
							<button class="btn btn-sm btn-default" ng-if="!task.editing" data-ng-click="task.editing=true"><i class="fa fa-edit"> </i></button>
							<button class="btn btn-sm btn-success" ng-if="task.editing" data-ng-click="saveTask(task)"><i class="fa fa-save"> </i></button>
						</td>
					</tr>
				</tbody>
				<tfoot>
					<tr>
						<td><a data-ng-click="addTask()" class="btn btn-sm btn-primary"><i class="fa fa-plus"> </i> New</a></td>
					</tr>
				</tfoot>
			</table>
		</div>
    </div>
  </div>
</div>