
			<table class="table table-striped">
				<thead>
					<tr data-ng-hide="client">
						<td colspan="10">
							<div class="row">
								<div class="col-md-6">
									<label for="query">Search:&nbsp;</label><input type="text" ng-model="query" id="query">
								</div>
								<div class='col-md-6' style="text-align:right;">
									<label for="orderProp">Order:&nbsp;</label>
									<select ng-model="orderProp" id="orderProp">
										<option value="status">Status</option>
										<option value="client.name">Client</option>
										<option value="project.name">Project</option>
										<option value="name">Task</option>
										<option value="due.timestamp">Due</option>
										<option value="assignee.name">Assignee</option>
									</select>
								</div>
							</div>
						</td>
					</tr>
					<tr>
						<th>Status</th>
						<th data-ng-hide="client">Client</th>
						<th data-ng-hide="client">Project</th>
						<th>Task</th>
						<th>Due</th>
						<th>Assignee</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr class="done-{{task.done}}" ng-repeat="task in tasks | filter:query | orderBy:tasks.orderProp">
						<td><input type="checkbox" ng-click="saveTask(task, task.id)" data-ng-model="task.done"></td>
						<td data-ng-hide="client"><a e-form="taskrow" data-e-name="client" onshow="loadClients()" editable-select="task.client" e-ng-options="client as client.company_name for client in clients track by client.id" href="#/clients/{{task.client.id}}">{{task.client.company_name}}</a></td>
						<td data-ng-hide="client"><a e-form="taskrow" data-e-name="project" onshow="loadProjects()" editable-select="task.project" e-ng-options="project as project.name for project in projects track by project.id" href="#/projects/{{task.project.id}}">{{task.project.name}}</a></td>
						<td><a e-form="taskrow" data-e-name="name" editable-text="task.name" href="#/tasks/{{task.id}}">{{task.name}}</a></td>
						<td><span e-form="taskrow" data-e-name="dueDate" editable-bsdate="task.dueDate" e-required e-datepicker-popup="dd-MMMM-yyyy">{{ (task.dueDate | date:"dd/MM/yyyy") || 'empty' }}</span></td>
						<td><span e-form="taskrow" data-e-name="assignee" onshow="loadUsers()" editable-select="task.assignee" e-ng-options="user as user.first_name for user in users track by user.id">{{task.assignee.first_name}}</span></td>
						<td style="white-space: nowrap">
							<div class="btn-group" role="group">
					        <!-- form -->
					        <form editable-form name="taskrow" onbeforesave="saveTask($data, id)" ng-show="taskrow.$visible" class="form-buttons form-inline" shown="inserted == task">
					          <button type="submit" ng-disabled="taskrow.$waiting" class="btn btn-primary">
					            <i class="fa fa-save"></i>
					          </button>
					          <button type="button" ng-disabled="taskrow.$waiting" ng-click="taskrow.$cancel()" class="btn btn-default">
					            <i class="fa fa-close"></i>
					          </button>
					        </form>
								<button ng-show="!taskrow.$visible" class="btn btn-sm btn-default" data-ng-click="taskrow.$show()"><i class="fa fa-edit"> </i></button>
							</div>
						</td>
					</tr>
				</tbody>
				<tfoot>
					<tr>
						<td><a data-ng-click="addTask()" class="btn btn-sm btn-primary"><i class="fa fa-plus"> </i> New</a></td>
					</tr>
				</tfoot>
			</table>