<table class="table table-striped" data-st-table="tasksTable" data-st-safe-src="tasks">
	<thead>
		<tr>
			<th st-sort="done">Status</th>
			<th st-sort="name">Task</th>
			<th st-sort="client.company_name" data-ng-hide="client">Client</th>
			<th st-sort="project.name" data-ng-hide="client">Project</th>
			<th st-sort="due">Due</th>
			<th st-sort="assignee.first_name">Assignee</th>
			<th></th>
		</tr>
		<tr>
			<th></th>
			<th><input st-search="name" class="form-control" placeholder="search ..." type="text"/></th>
			<th>
				<select st-search="client.id" class="form-control">
					<option value>All</option>
					<option data-ng-repeat="client in clients" value="{{client.id}}">{{ client.company_name }}</option>
				</select>
			</th>
			<th>
				<select st-search="project.id" class="form-control">
					<option value>All</option>
					<option data-ng-repeat="project in projects" value="{{project.id}}">{{ project.name }}</option>
				</select>
			</th>
			<th></th>
			<th>
				<select st-search="assignee.id" class="form-control">
					<option value>All</option>
					<option data-ng-repeat="user in users" value="{{user.id}}">{{ user.name }}</option>
				</select>
			</th>
		</tr>
	</thead>
	<tbody>
		<tr class="done-{{task.done}}" data-ng-repeat="task in tasksTable">
			<td><input type="checkbox" data-ng-click="saveTask(task, task.id)" data-ng-model="task.done"></td>
			<td>
				<a data-editable-text="task.name" data-onaftersave="saveTask(task)" href="#/tasks/{{task.id}}" data-e-required="required" data-shown="inserted === task">
					{{task.name || 'Task name'}}
				</a>
			</td>
			<td data-ng-if="!client">
				<a data-editable-select="task.client" buttons="no" onshow="loadClients()" data-onaftersave="saveTask(task)"
				   data-e-ng-options="client as client.company_name for client in clients track by client.id">
					{{task.client.company_name || 'Client'}}
				</a>
			</td>
			<td data-ng-if="!client">
				<a data-editable-select="task.project" data-onaftersave="saveTask(task)" onshow="loadProjects()" buttons="no"
				   data-e-ng-options="project as project.name for project in projects track by project.id">
					{{task.project.name || 'project'}}
				</a>
			</td>
			<td>
				<span data-editable-date="task.dueDate" data-onaftersave="saveTask(task)">
					{{ (task.dueDate | date:"dd/MM/yyyy") || 'date' }}
				</span>
			</td>
			<td>
				<span data-editable-select="task.assignee" data-onaftersave="saveTask(task)" onshow="loadUsers()" buttons="no"
					  data-e-ng-options="user as user.first_name for user in users track by user.id">
					{{task.assignee.first_name || 'user'}}
				</span>
			</td>
		</tr>
	</tbody>
	<tfoot>
		<tr data-ng-show="tasks.length > 10">
			<td colspan="3" class="text-center">
				<div st-pagination="" data-st-items-by-page="itemsByPage" data-st-displayed-pages="7"></div>
			</td>
			<td colspan="2" class="text-center">
				<label><input type="radio" data-ng-model="itemsByPage" value="10"> 10</label>
				<label><input type="radio" data-ng-model="itemsByPage" value="25"> 25</label>
				<label><input type="radio" data-ng-model="itemsByPage" value="50"> 50</label>
			</td>
		</tr>
		<tr>
			<td>
				<a data-ng-click="addTask()" class="btn btn-sm btn-primary"><i class="fa fa-plus"> </i> New</a>
			</td>
		</tr>
	</tfoot>
</table>